body{
    min-height: 50vh;
    background-color: write;
	/*background-color: #CCC;*/
    /*background-image: url('https://unsplash.it/g/1500/800');*/
}
/*
.login-form{
    padding: 60px 30px;
    background-color: rgba(0, 0, 0, .9);
    margin-top: 50vh;
    transform: translateY(-50%);
    color: white;
}

.login-form h1{
    margin: 0 0 5px;
}

.login-form h2{
    margin: 0 0 30px;
    font-size: 1em;
}*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }